[user]
	name = shiraji
	email = isogai.shiraji@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = vim -c \"set fenc=utf-8\"
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[mergetool]
	keepBackup = false
